<!DOCTYPE html>
html(lang="en")
  head
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/css/kit.css" />
    <title>Наденные комнаты</title>

  body(class="basic-text")
    header
      <div class="navbar">
        <div class="navbar__content container">
          <a class="logo" href="/"><img src="/assets/img/logo.png" alt="logo" srcset="" /></a>
          <div class="show-lg">
            <button class="burger" data-toggle-type="navbar-expand" data-target="#navbar__items" data-collapsed="false" data-self-modifier-class="burger_active" type="button">
                <span class="burger__main"></span>
            </button>
          </div>
          <ul class="navbar__items basic-text" id="navbar__items">
              <li class="navbar__item navbar__item_small-margin">
                  <a class="navbar__link" href="/massege.html">О нас</a>
              </li>
              <li class="navbar__item navbar__item_small-margin dropdown">
                  <a class="navbar__link navbar-dropdown__toggler dropdown__toggler dropdown__icon" data-content-modifier-class="navbar-dropdown__list_collapsed">Услуги</a>
                  <ul class="dropdown__content navbar-dropdown__list">
                      <li><a class="navbar__link" href="/massege.html">first</a></li>
                      <li><a class="navbar__link" href="/massege.html">second</a></li>
                      <li><a class="navbar__link" href="/massege.html">third</a></li>
                  </ul>
              </li>
              <li class="navbar__item navbar__item_small-margin">
                  <a class="navbar__link" href="/rooms">Номера</a>
              </li>
              <li class="navbar__item navbar__item_small-margin">
                  <a class="navbar__link" href="/massege.html">Новости</a>
              </li>
              <li class="navbar__item navbar__item_small-margin dropdown">
                  <a class="navbar__link navbar-dropdown__toggler dropdown__toggler dropdown__icon" data-content-modifier-class="navbar-dropdown__list_collapsed">Соглашения</a>
                  <ul class="dropdown__content navbar-dropdown__list">
                      <li><a class="navbar__link" href="/massege.html">first</a></li>
                      <li><a class="navbar__link" href="/massege.html">second</a></li>
                      <li><a class="navbar__link" href="/massege.html">third</a></li>
                  </ul>
              </li>
              <li class="navbar__item navbar__item_small-margin">
                  <a class="button_slim button_outline cta-text button" href="login.html">войти</a>
              </li>
              <li class="navbar__item navbar__item_small-margin">
                  <a class="button_slim cta-text button" href="registration.html">зарегистрироваться</a>
              </li>
          </ul>
          <div class="navbar__search navbar__items" id="navbar__search"></div>
        </div>
      </div>

    
    <main class="main basic-text">
      <h1 class="container search-room-main__label widget-title">Номера, которые мы для вас подобрали</h1>
      <div class="container search-room-main__content">
        - for (var i = 0; i < id.length; i++)
          <div class="room-card search-room-main__room-card">
              <div class="room-card__slider">
                  <div class="room-card__slide" style="background-image: url(/assets/img/room1.jpg)"></div>
                  <div class="room-card__slide" style="background-image: url(/assets/img/room2.jpg)"></div>
              </div>
              <a class="room-card__description" href="/room">
                  <div class="room-card__row">
                      <span class="room-number item-title"><span class="room-number__smaller-text cta-text cta-text_light">№&nbsp;</span>888&nbsp;<span class="room-number__smaller-text room-number__smaller-text_primary cta-text">люкс</span></span>
                      <span class="faded-text">9 990₽&nbsp;<span class="faded-text__secondary">в сутки</span></span>
                  </div>
                  <div class="room-card__divider"></div>
                  <div class="room-card__row">
                      <div class="rating"><span class="rating__star rating__star_active"></span><span class="rating__star rating__star_active"></span><span class="rating__star rating__star_active"></span><span class="rating__star rating__star_active"></span><span class="rating__star rating__star_active"></span></div>
                      <span class="faded-text">143&nbsp;<span class="faded-text__secondary">отзывов</span></span>
                  </div>
              </a>
          </div>
      </div>

      <div class="container search-room-main__pagination">
          <div class="pagination basic-text mt-30"><a class="pagination__link pagination__link_active" href="/massege.html">1</a><a class="pagination__link" href="/massege.html">2</a><a class="pagination__link" href="/massege.html">3</a><a class="pagination__link" href="/massege.html">...</a><a class="pagination__link" href="/massege.html">15</a><a class="pagination__arrow pagination__arrow_next" href="/massege.html"></a><span class="pagination__label">1 – 12 из 100+ вариантов аренды</span></div>
      </div>
    </main>


    footer
      <div class="prefooter">
        <div class="prefooter__content container basic-text">
          <div class="prefooter__column">
            <a class="logo" href="/"><img src="/assets/img/logo.png" alt="logo" srcset="" /></a>
            <div>Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»</div>
          </div>
          <div class="prefooter__column">
            <div class="prefooter__column-label cta-text">навигация</div>
            <a class="prefooter__link" href="/massege.html">О нас</a><a class="prefooter__link" href="/massege.html">Новости</a><a class="prefooter__link" href="/massege.html">Служба поддержки</a><a class="prefooter__link" href="/massege.html">Услуги</a>
          </div>
          <div class="prefooter__column">
            <div class="prefooter__column-label cta-text">о нас</div>
            <a class="prefooter__link" href="/massege.html">О сервисе</a><a class="prefooter__link" href="/massege.html">Наша команда</a><a class="prefooter__link" href="/massege.html">Вакансии</a><a class="prefooter__link" href="/massege.html">Инвесторы</a>
          </div>
          <div class="prefooter__column">
            <div class="prefooter__column-label cta-text">Служба поддержки</div>
            <a class="prefooter__link" href="/massege.html">Соглашения</a><a class="prefooter__link" href="/massege.html">Сообщества</a><a class="prefooter__link" href="/massege.html">Связь с нами</a>
          </div>
          <div class="prefooter__column">
            <div class="prefooter__column-label cta-text">Подписка</div>
            <div>Получайте специальные предложения и новости сервиса</div>
            <form action="/massege.html" method="post">
              <div class="text-field arrow_forward"><input class="text-field__input basic-text" type="text" placeholder="Email" id="subscribe" name="subscribe" /><span class="text-field__icon">arrow_forward</span></div>
            </form>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer__content basic-text container">
          <div class="footer__copyright">Copyright © 2018 Toxin отель. Все права зачищены.</div>
          <div class="footer__social-icons"><a class="fa-twitter social-icon fab" href="/massege.html"></a><a class="fa-facebook-square social-icon fab" href="/massege.html"></a><a class="fa-instagram social-icon fab" href="/massege.html"></a></div>
        </div>
      </div>

    <script src="/assets/js/kit.js"></script>
